:root {
  /* colors */
  --white: #fff;
  --translucent-white: #d7ccc0;
  --translucent-dark: #908d8b;
  --main: #fe8a02;
  --main-dark: #42413c;
  --bootstrap-dark: #212529;
  --dark: #2a2626;
  --light: #f5f4f0;
  --brown: #b09a81;
  --blue: #1085c5;
}

/* fonts */
@font-face {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Neucha.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  border: 0;
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  color: var(--white, #fff);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  padding: 11px 23px;
  background-color: var(--main, #fe8a02);
}

.text-description {
  column-count: 2;
  column-gap: 30px;
}

.text-description-dark {
  color: var(--white, #fff);
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: var(--dark, #2a2626);

  margin: 0;
  width: 1440px;

  background-color: var(--white, #fff);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  vertical-align: middle;
}

/* TODO Селектор по типу запрещены */
a {
  text-decoration: none;
}

/*** Header ***/
.header {
  position: relative;
  padding: 100px 165px;
}

.header::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  content: "";
  background-color: #f5f4f0;
  background-image: url("../img/background.png");
  background-size: 100% auto;

  opacity: 9%;
  z-index: -1;
}

.header::after {
  position: absolute;
  top: 55px;
  right: -104px;

  width: 1083px;
  height: 525px;

  content: "";
  background-image: url("../img/main.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.header-wrapper {
  display: flex;
  flex-direction: column;

  padding-bottom: 40px;
}

.header-title {
  font-family: "Neucha", sans-serif;
  font-size: 72px;
  line-height: 86px;
  color: var(--main, #fe8a02);

  margin-bottom: 185px;
}

.header-refine {
  color: var(--dark, #2a2626);
}

.header-link {
  margin-left: 570px;
}

/*** Main ***/
.index {
  position: relative;
}

/* Video */
.index-video {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 100px 165px 0;
}

.video-title {
  font-family: "Neucha", sans-serif;
  font-size: 60px;
  line-height: 72px;
  color: var(--dark, #2a2626);
  text-align: center;

  margin-bottom: 27px;
}

.video-refine {
  color: var(--main,#fe8a02);
}

.video-description {
  color: var(--bootstrap-dark, #212529);

  margin-bottom: 515px;
}

.video-content {
  position: absolute;
  bottom: -84px;

  width: 919px;
  height: 569px;

  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/* Navigation */
.navigation {
  padding: 200px 165px 100px;

  background-color: var(--main-dark, #42413c);
}

.navigation-list {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  column-gap: 30px;
  row-gap: 20px;

  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-list > li:first-child {
  background-color: transparent;
}

.navigation-item {
  box-sizing: border-box;
  width: 350px;
  height: 323px;

  padding: 24px;

  background-color: var(--light, #f5f4f0);
}

.navigation-link {
  display: inline-block;
  color: var(--dark, #2a2626);
}

.navigation-number {
  font-family: "Neucha", sans-serif;
  font-size: 64px;
  color: var(--main-dark, #42413c);
  text-align: center;
}

.navigation-title {
  font-family: Neucha;
  font-size: 34px;
  line-height: 41px;
  color: var(--main, #fe8a02);
}

.navigation-refine {
  color: var(--white, #fff);
}

/* Cards */
.cards {
  position: relative;
}

.cards::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  content: "";
  background-image: url("../img/background.png");
  background-size: 100% auto;

  opacity: 9%;
}

.card-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card-item {
  padding: 100px 165px;

  background-color: var(--light, #f5f4f0);
}

.card-item-dark {
  background-color: var(--brown, #b09a81);
}

.card-wrap {
  display: flex;
  justify-content: space-between;
}

.card-wrap-right {
  flex-direction: row-reverse;
}

.card-desc {
  display: block;

  width: 502px;
}

.card-subtitle {
  font-family: Neucha;
  font-size: 24px;
  line-height: 29px;
  color: var(--translucent-dark, #908D8B);
}

.card-subtitle-dark {
  color: var(--translucent-white, #d7ccc0);
}

.card-title {
  font-family: "Neucha", sans-serif;
  font-size: 60px;
  line-height: 72px;
  color: var(--dark, #2A2626);
  text-align: left;

  margin-bottom: 30px;
}

.card-title-dark {
  color: var(--white, #fff);
}

.card-meaning {
  font-family: Neucha;
  font-size: 34px;
  line-height: 41px;
  color: var(--Text, #2A2626);
}

.card-img {
  margin-bottom: 100px;
}

.card-meaning-dark {
  color: var(--white, #fff);
}

/* TODO д.б 700 */
.card-lead {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: var(--white, #fff);
  text-transform: uppercase;

  margin: 0 0 20px;
  padding: 5px 0 5px 10px;
  background-color: var(--brown, #b09a81);
}

.card-lead-dark {
  color: var(--brown, #b09a81);
  background-color: var(--white, #fff);
}

/* Footer */
.footer {
  padding: 100px 165px 111px;
}

.footer-newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--main-dark, #42413c);
}

.newsletter-title {
  font-family: "Neucha", sans-serif;
  font-size: 34px;
  line-height: 41px;
  color: var(--white, #fff);
  text-align: left;

  padding: 55px 122px 55px 55px;
}

.newsletter-form {
  display: flex;
  flex-direction: column;

  padding: 38px 55px 40px 0;
}

.form-label {
  font-size: 18px;
  line-height: 29px;
  color: var(--white, #fff);

  padding-bottom: 9px;
}

.form-input {
  font-size: 13.1px;
  line-height: 21px;
  color: #757575;

  padding: 17px 0 18px 15px;
}

.form-swap {
  display: flex;
}

.form-decs {
  font-size: 12px;
  line-height: 19px;
  color: var(--white, #fff);
}

.form-decs a {
  color: var(--white, #fff);
  text-decoration-line: underline;
}

.footer-about {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 76px 319px 0;
}
